
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Header Start -->
<div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <h1 class="display-4 animated slideInDown mb-4">About Us</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->
<!-- About Start -->

<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 mb-5">Meet Our Professional Team Members</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="img/team-1.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Asadullah</h5>
                        <span>Designer</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Asadullah</h5>
                        <p>Designer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-4">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="img/team-1.jpg" alt="">
                        <div class="text-center p-4">
                            <h5>Corunes Bhatti</h5>
                            <span>Developer</span>
                        </div>
                        <div class="team-text text-center bg-white p-4">
                            <h5>Corunes Bhatti</h5>
                            <p>Developer</p>
                            <div class="d-flex justify-content-center">
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                                <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="img/team-2.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Muhammad Shabbir</h5>
                        <span>Developer</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Muhammad Shabbir</h5>
                        <p>Developer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="img/team-3.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Usman Ali</h5>
                        <span>Developer</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Usman Ali</h5>
                        <p>Developer</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item rounded">
                    <img class="img-fluid" src="img/team-4.jpg" alt="">
                    <div class="text-center p-4">
                        <h5>Sameed Nadeem</h5>
                        <span>DB manager</span>
                    </div>
                    <div class="team-text text-center bg-white p-4">
                        <h5>Sameed Nadeem</h5>
                        <p>DB manager</p>
                        <div class="d-flex justify-content-center">
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-light m-1" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
